version: '3.8'

services:
    postgres:
        image: postgres:15
        container_name: shortlink_db
        environment:
            POSTGRES_DB: shortener_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
        ports:
            - "5433:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

    redis:
        image: redis:alpine
        container_name: shortlink_cache
        ports:
            - "6379:6379"

volumes:
    postgres_data:
